*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 9999; */
  transition: all 0.3s ease-in-out;
}

@media (max-width: 975px) {
  .navbar_scrolled {
    background-color: transparent;
  }

}

.navbar_scrolled{
  background-color: rgba(201, 197, 197, 0.7);
  position: fixed;
}

.header::after {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__logo {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 36px;
  font-size: 30px;
  position: relative;
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 216px;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.header__menu .menu__item {
  margin-right: 35px;
}

.header__menu .menu__link {
  color: #fff;
  font-family: 'Inter',  sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__menu .menu__link:hover {
  text-decoration: underline;
}

.header__menu.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__burger {
  display: none;
}

@media (max-width: 992px) {
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 9999;
  }

  .header .header__burger::before,
  .header .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header__menu {
    position: fixed;
    right: -100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 90px 10px 20px 10px;
    background-color: #858585;
    z-index: 3;
  }
  .header .header__menu.active {
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
 
  }
  .header .menu__list {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
   
  }
  .header .menu__item{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 57px;
  }
}

.header__title {
  font-family: 'Libre Caslon Display', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 99px;
  color: #fff;
  margin-bottom: 32px;
}

.header__title:before {
  content: '';
  display: block;
  width: 90px;
  height: 15px;
  background-color: #fff;
  margin-bottom: 32px;
}


.header__text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 32px;
}

.header__info_btn {
  border: 2px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  width: 153px;
  height: 42px;
  margin-top: 20px;
  background-color: transparent;
}

@media (max-width: 767px) {
  .header__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
  }
}

@media (max-width: 375px) {
  .header__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
  }
}

.btn,
.btn-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  padding: 10px 36px;
  background-color: transparent;
  z-index: 3;
  color: #fff;
}

.btn-link, .btn__info__link {
  color: #fff;
  font-family: 'Inter',  sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (any-hover: hover) {
  .btn:hover,
  .btn__info:hover {
    background: rgba(241, 240, 240, 0.3);
  }
}

.btn-info.disabled {
  display: none;
}

.container {
  padding-left: calc((100% - 1400px) / 2);
  padding-right: calc((100% - 1400px) / 2);
}



.hero.container{
  padding-top: 215px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.9))), url(../img/Background.jpeg);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.9)), url(../img/Background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.posts {
  padding: 90px 42px 60px 72px;
  font-family: 'Inter', sans-serif;
}

.posts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 44px;
}

.posts__layout {
  display: flex;
  padding: 0px 72px 0px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.post {
  display: inline-block;
  border-right: #DDDDDD solid 1px;
  border-left: #DDDDDD solid 1px;
  border-bottom: #DDDDDD solid 1px;
  border-radius: 3px;
  flex-basis: 0%;
}

.post:not(:last-child) {
  margin-right: 19px;
}

.post img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
     padding-bottom: 35px;
  
}

.post__info {
  padding: 0px 32px 0px 32px;
  display: block;
  max-width: 355px;
}

.post__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #D9852C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 34px;
  padding-bottom: 32px;
}

.post__link:hover {
  text-decoration: underline;
}

.arrow {
  position: relative;
  top: 9px;
  width: 7px;
  height: 1px;
  background-color: #D9852C;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 3px;
  display: block;
}

.arrow::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: -2px;
  right: -3px;
  background-color: #D9852C;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: 2px;
  right: -3px;
  background-color: #D9852C;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.post__title {
  margin-top: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.post__datetime{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #B7B7B7;
}

@media (max-width: 767px) {
  .posts__layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (max-width: 767px) {
  .post:not(:last-child){
    margin-bottom: 32px;

    
  }

}


/*# sourceMappingURL=style.css.map */